[submodule "content"]
	path = content
	url = https://github.com/earlman/me-content.git
[submodule "site/src/styles"]
	path = site/src/styles
	url = https://github.com/earlman/me-styles-shipwright.git
	branch = master
